<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style type="text/css">
        #main_canvas_container {
            position: absolute;
            width: 100%;
            height: 30%;
            top: 60px;
            left: 10px;
        }

        .sidenav {
            height: 100%; /* Full-height: remove this if you want "auto" height */
            width: 225px; /* Set the width of the sidebar */
            position: fixed; /* Fixed Sidebar (stay in place on scroll) */
            z-index: 1; /* Stay on top */
            top: 0; /* Stay at the top */
            left: 0;
            background-color: #111; /* Black */
            overflow-x: hidden; /* Disable horizontal scroll */
            padding-top: 20px;
        }
    </style>

    <script src="~/Js/b4w.min.js"></script>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a href="" class="navbar-brand nav-button">Application name</a>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active" onclick="ChangePage('Home','Home')"><a href="" class="nav-link nav-button">Home</a></li>
                    <li class="nav-item active" onclick="ChangePage('Home','About')"><a href="" class="nav-link nav-button">About</a></li>
                    <li class="nav-item active" onclick="ChangePage('Home','Contact')"><a href="" class="nav-link nav-button">Contact</a></li>
                    <li class="nav-item active" onclick="ChangePage('Design','Search')"><a href="" class="nav-link nav-button">Browse</a></li>
                </ul>
                <div class="col-sm-3 col-md-3">
                    <form class="navbar-form" role="search" action="/Design/Search" method="get">
                        <div class="input-group">
                            <input type="text" id="search" class="form-control" placeholder="Search" name="Search">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <div class="sidenav">
            <div id="main_canvas_container"></div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $(function () {
            var val = $("#MainContainer").val();
            if (val == "") {
                $.get("/Home/Home", function (r) {
                    //update ui with results
                    $("#MainContainer").html(r);
                })
            }

            $("#search").keyup(function (e) {
                var keywords = $("#search").val();
                var takeN = GetURLParameter("takeN");
                if (takeN == 0 || takeN == null) {
                    takeN = 10;
                }
                var skipN = GetURLParameter("skipN") + takeN;
                if (skipN == null || skipN == 10 || isNaN(skipN)) {
                    skipN = 0;
                }
                $.get("/Design/Search?keywords=" + keywords + "&skipN=" + skipN + "&takeN=" + takeN, function (r) {
                    //update ui with results
                    $("#MainContainer").html(r);
                });

            });

        })
        function GetURLParameter(sParam) {
            var sPageURL = window.location.search.substring(1);
            var sURLVariables = sPageURL.split('&');
            for (var i = 0; i < sURLVariables.length; i++) {
                var sParameterName = sURLVariables[i].split('=');
                if (sParameterName[0] == sParam) {
                    return parseInt(sParameterName[1]);
                }
            }
        }

        function ChangePage(controller, view) {
            //$.get("/Design/Search?keywords=" + keywords + "&skipN=" + skipN + "&takeN=" + takeN, function (r) {
            $.get("/" + controller + "/" + view, function (r) {
                //update ui with results
                $("#MainContainer").html(r);
            });
        }
    </script>

    <script>
        "use strict";

        var load_image;
        var m_app;
        var m_cfg;
        var m_data;
        var m_preloader;
        var m_ver;
        var m_tex;
        var m_scenes;

        var DEBUG;
        var APP_ASSETS_PATH;

        b4w.register("TeeShirt_main", function (exports, require) {


            m_app = require("app");
            m_cfg = require("config");
            m_data = require("data");
            m_preloader = require("preloader");
            m_ver = require("version");
            m_tex = require("textures");

            m_scenes = require("scenes");

            DEBUG = (m_ver.type() == "DEBUG");
            APP_ASSETS_PATH = m_cfg.get_std_assets_path();


            exports.init = function () {
                m_app.init({
                    canvas_container_id: "main_canvas_container",
                    callback: init_cb,
                    show_fps: true,
                    autoresize: true,
                    assets_dds_available: !DEBUG,
                    assets_min50_available: !DEBUG,
                    console_verbose: true
                });
            }

            function init_cb(canvas_elem, success) {

                if (!success) {
                    console.log("b4w init failure");
                    return;
                }
                load();
            }

            function load() {

                var preloader_cont = document.getElementById("preloader_cont");
                m_data.load("./Design/TeeShirtToExport.json", load_cb);
            }

            function preloader_cb(percentage) {
                var prelod_dynamic_path = document.getElementById("prelod_dynamic_path");
                var percantage_num = prelod_dynamic_path.nextElementSibling;

                prelod_dynamic_path.style.width = percentage + "%";
                percantage_num.innerHTML = percentage + "%";
                if (percentage == 100) {
                    var preloader_cont = document.getElementById("preloader_cont");
                    preloader_cont.style.visibility = "hidden";
                    return;
                }
            }

            function load_cb(data_id, success) {
                if (!success) {
                    console.log("b4w load failure");
                    return;
                }
                m_app.enable_camera_controls(false, false, false, null, true);

            }

            load_image = function (image) {
                var shirt = m_scenes.get_object_by_name("T-Shirt");
                m_tex.replace_image(shirt, "Texture", image);
            }

            function create_interface(obj) {

            }
        });

        b4w.require("TeeShirt_main").init();
    </script>
</body>
</html>
