@model IEnumerable<OpenSourceTees.Models.PurchaseOrder>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Image.ImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyerId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Image.ImageUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuyerId)
        </td>
        <td>
            <ul>
                <li class="btn btn-warning btn-primary" onclick="ChangePage('PurchaseOrders','Details', @item.Id)">
                    <a href="" class="nav-button">
                        Details
                    </a>
                </li>
                <li class="btn btn-danger btn-secondary" onclick="ChangePage('PurchaseOrders','Delete', @item.Id)">
                    <a href="" class="nav-button">
                        Delete
                    </a>
                </li>
            </ul>
        </td>
    </tr>
}

</table>
